<b>Name : </b>
<%= @user.name %><br />
<b>Email : </b>
<%= @user.email %><br />
<% @user.books.each do |b| %>
<span><b>Book:</b></span>
<%= link_to b.title,b.url %></br>
<span><b>Discription:</b></span>
<%=  b.discription %></br>
<% end %></br></br>
<%= link_to 'Back', home_index_path %>
