<div align="center"><%= form_for(@book) do |f| %>
<%= f.label :Title %>
<%= f.text_field :title %></br>
<%= f.label :Discription %>
<%= f.text_field :discription %></br>
<%= f.label :Url %>
<%= f.text_field :url %></br>
<%= f.submit "submit" %>
<%end %>
</div>
